<!DOCTYPE html>

@using System.Text.Json
@using DrinksApps.Models

@{
    int quantidadeCarrinho = 0;

    var json = Context.Session.GetString("Carrinho");

    if (!string.IsNullOrEmpty(json))
    {
        var carrinho = JsonSerializer.Deserialize<List<CarrinhoItem>>(json);

        quantidadeCarrinho = carrinho.Sum(x => x.Quantidade);
    }
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DrinksApps</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DrinksApps.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
            <div class="container-fluid">

                @using Microsoft.AspNetCore.Http
                @{
                    var nome = Context.Session.GetString("Nome");
                }

                <!-- Usuário -->
                @if (!string.IsNullOrEmpty(nome))
                {
                    <div class="d-flex align-items-center me-4">

                        <span class="text-white fw-semibold me-3">
                            <i class="fa-solid fa-circle-user me-1"></i>
                            Olá, <strong>@nome</strong>
                        </span>

                        <a asp-controller="Login"
                           asp-action="Logout"
                           class="btn btn-outline-danger btn-sm">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            Sair
                        </a>

                    </div>
                }

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">
                                🏠 Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Produtos" asp-action="Lanches">
                                🍔 Lanches
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Produtos" asp-action="Bebidas">
                                🥤 Bebidas
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Pedidos" asp-action="Index">
                                Pedidos
                            </a>
                        </li>
                        <a class="nav-link position-relative"
                           asp-controller="Carrinho"
                           asp-action="Index">

                            🛒 Carrinho

                            @if (quantidadeCarrinho > 0)
                            {
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    @quantidadeCarrinho
                                </span>
                            }

                        </a>


                    </ul>

                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - DrinksApps - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
